@page
@model IndexModel
@{
    string firstName = "Alexey";
    int age = 20;
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <br>
  <h2 class="user-info">My name is @firstName and I am @age years old!</h2>
</div>
