@page

<div class="text-center">
    <h2>Hey there! My name is:</h2>
    <h1>Alexey Kendys</h1>
    <br>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
